div {
  display: flex;
  flex-direction: row;

  button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border: 1px ridge rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: none;
    outline: none;
    font-weight: bold;
    font-size: 20px;

    span {
      color: green;
      font-size: 36px;
      margin: 0 5px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  form {
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 20px;

    label {
      margin: 0 5px;
      font-weight: bold;
      font-size: 20px;
    }

    input {

      &[type='text'] {
        outline: none;
        border: 1px ridge rgba(0, 0, 0, 0.5);
        font-size: 16px;
        padding: 3px 3px;
      }

      &[type = 'submit'] {
        border: 1px ridge rgba(0, 0, 0, 0.5);
        background: none;
        outline: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 19px;
      }
    }
  }
}
