<div appClickOutside
     (clickOutside)="isShowForm($event)">
  <button (click)="isShowForm(true)"><span>+</span>Element
  </button>

  <form [formGroup]="elementsForm"
        (submit)="onSubmit(elementsForm)"
        *ngIf="showForm">

    <label for="elementName">Name:</label>
    <input id="elementName"
           type="text"
           [formControlName]="['name']">

    <input type="submit"
           value="Create"
           [disabled]="!elementsForm.valid">
  </form>
</div>
