div {
  display: flex;
  flex-direction: column;

  p {
    display: block;
    width: fit-content;
    position: relative;
    padding: 5px 10px;
    margin: 5px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: all-scroll;

    span {
      margin: 0 0 0 15px;
      color: red;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
