<app-add-element (addlement)="addElement($event)"></app-add-element>

<div>
  <p appDraggable
     *ngFor="let element of elements; let i = index">{{element}}<span (click)="deleteElement(i)">x</span></p>
</div>
